* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}

body {
    background: url(../img/blackrock.png);
    color: #fff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

#container {
    width: 400px;
    min-height: 600px;
    background: #111;
    overflow: auto;
    margin: 50px auto;
    border: #666 solid 1px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

#songimage {
    position: relative;
    height: 300px;
    overflow: hidden;
    margin-bottom: 10px;
}

.audioimage {
    width: 100%;
    z-index: 1;
}

#audioinfo {
    text-align: center;
}

#audioinfo .artist {
    font-weight: bold;
}

#volumeslider {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    height: 5px;
    border-radius: 5px;   
    background: #fff;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#volumeslider:hover {
    opacity: 0.8;
}

#volumeslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #aaa;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #aaa;
    cursor: pointer;
}

#audiobtn {
    width: 50%;
    display: block;
    margin: 10px auto;
    margin-left: 25%;
    overflow: auto;
}

button#prevbtn {
    width: 50px;
    height: 50px;
    background: url(../img/prev.png);
    background-size: 50px 50px;
    filter: invert(100%);
    float: left;
    cursor: pointer;
}

#playbtn {
    width: 50px;
    height: 50px;
    background: url(../img/play.png);
    background-size: 50px 50px;
    filter: invert(100%);
    float: left;
    cursor: pointer;
}

#pausebtn {
    width: 50px;
    height: 50px;
    background: url(../img/pause.png);
    background-size: 50px 50px;
    filter: invert(100%);
    float: left;
    cursor: pointer;
}

#stopbtn {
    width: 50px;
    height: 50px;
    background: url(../img/stop.png);
    background-size: 50px 50px;
    filter: invert(100%);
    float: left;
    cursor: pointer;
}

#nextbtn {
    width: 50px;
    height: 50px;
    background: url(../img/next.png);
    background-size: 50px 50px;
    filter: invert(100%);
    float: right;
    cursor: pointer;
}

.clearfix {
    clear: both;
}

#progress {
    position: relative;
    width: 100%;
}

#progressbar {
    height: 30px;
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 20px;
    float: left;
    background: url(../img/emptyprogressbar.png) no-repeat;
    background-size: 320px 30px;
}

#fullprogress {
    display: inline-block;
    height: 10px;
    background: url(../img/fullprogressbar.png) no-repeat;
    background-size: 320px 30px;
}

#progresslength {
    position: absolute;
    top: 0px;
    right: 10px;
    background: #fff;
    padding: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

#playlist {
    padding: 10px;
}

#playlist li {
    list-style: none;
    margin: 10px;
    cursor: pointer;
}

#playlist li:active {
    font-weight: bold;
    background: #aaa;
}